html, body {
  height: 100%;
  background-color: #d9d9d9;
}

h3 {
  font-family: monospace;
}
#questionFrontOrBack, #questionRuby, #questionWindows, #questionPurpose, #questionJob, #questionAppeal, .resultsTrack, .resultsNone  {
  display: none;
}

.survey {
  width: 65%;
}

.studentName {
  width: 300px;
  padding-bottom: 10px;
}

.jumbotron {
  font-style: italic;
  background-color: #66ccff;
}

.container {
  /*border: 1px solid black;*/
  height: 100%;
  background-color: white;
  /*padding: 20px;*/
}

.well {
  height: 50%;
}
